ColumnLimit: 100
BreakBeforeBraces: Linux
IndentWidth: 4
AlignConsecutiveAssignments: AcrossEmptyLinesAndComments
ReflowComments: true
AlwaysBreakTemplateDeclarations: Yes
CommentPragmas: '^! .*'
BinPackParameters: true
